$background: #013d01;
$border-radius: 0.25rem;
$buttontext: #001e1d;
$font-family: "Poppins", sans-serif;
$text: #fffffe;
$letter-spacing: 1px;
$transition: 0.3s ease-in-out all;
$max-width: 1120px;
$fixed-width: 600px;

$button: #fde45e;
$hover: #cab64b;

$buttonlink: #feef9e;
$buttonhover: #fde45e;
